.gradient-background {
  background: linear-gradient(300deg, #F6EEC9, #799351, #EE4E4E);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }

}
.uniquifier {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.resume {
  background-color: #799351;
}
.nav-bar {
  margin-left: 30px;
}
.cover-logo {
  border-color: #F6EEC9;
  border-style:outset;
  border-width: 10px;
}
.zeemeelogo {
  border-width: 5%;
  border-style: outset;
  border-color: #F6EEC9;
}
.imgs {
  border-radius: 30%;
}
.cover {
  display: flex;
  position: relative;
  justify-content:center;
 
  height: 100vh;
}
.cover-logo {
  display: flex;
  position:absolute;
}
.z-text-color {
  color: #F6EEC9;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 20pt;
  height: 150px;
  margin-top: 10rem;
  padding: 20px;
}
.zeemee {
  display: flex;
  position:absolute;
}
#programmer {
  display: flex;
  position:absolute;
  color: #F6EEC9;
  font-size: 2rem;
  letter-spacing: 60pt;
  margin-top: 20rem;
  margin-left: 20px;
  padding: 50px;
}
@media (max-width: 1050px) {
  #programmer {
  display: flex;
  position:absolute;
  color: #F6EEC9;
  font-size: 2rem;
  letter-spacing: 30pt;
  margin-top: 16rem;
  }
  .z-text-color {
    color: #F6EEC9;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 10pt;
    height: 150px;
    margin-top: 8rem;
  }
}
@media (max-width: 650px) {
  #programmer {
  display: flex;
  position:absolute;
  color: #F6EEC9;
  font-size: 2rem;
  letter-spacing: 15pt;
  margin-top: 13rem;
  }
  .z-text-color {
    color: #F6EEC9;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 5pt;
    height: 150px;
    margin-top: 8rem;
  }
}
.programmer {
  color: #EE4E4E;
  text-transform:uppercase;
}

#aboutme {
  height:auto;
  margin-top: 20px;
}
.col {
  margin-bottom: 0px;
}
.background-img {
  background-image: url("./img/binary-code-image-2.jpg");
  opacity: 0.8;
  background-size:contain;
  height: 100vh;
}
#text-color {
  color: #F6EEC9;
  font-weight: 100;
}
#text-color-2 {
  color:#799351;
}
.z-d-fled {
  display: flex;
  flex-direction: column;
}

/* Adress Section */
.button {
  border-radius: 50%;
  background-color: #F6EEC9;
  border: 0;
  width: 80px;
  height: 80px;
}

.add-container {
  display: flex;
  position: relative;
  
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
}
.add-img {
  display: flex;
  background-image: url('./img/address.svg');
  background-size: cover;
  opacity: .1;
  width: 100%;
  height: 100%;
}
.stay {
  display: flex;
  position:absolute;
  max-width: 410px;
  font-size: 6rem;
  font-weight: 900;
  color: #F6EEC9;
  opacity: .5;
  letter-spacing: 50px;
  text-align:center;
  margin-bottom: 20rem;
}
.address {
  display: flex;
  position: absolute;
  color: #F6EEC9;
  letter-spacing: 10px;
  text-align: center;
}
hr {
  color: #F6EEC9;
  border-width: 5px;
  width: 320px;
  margin-top: 0;
  margin-bottom: 50px;
}
.social-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  position:absolute;
  margin-top: 350px;
}

/* Project Section*/

.project-container {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  height: 300px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}
.myproject {
  display: flex;
  margin-left: 35px;
  margin-bottom: 10px;
}

#project-img {
  height:250px;
  width: 1400px;
}
.carousel-inner {
  height: 300px;
  border-width: 10px;
}
/* Footer */
.footer {
  color: #F6EEC9;
  opacity: .5;
  text-align: center;
  margin-top: 30px;
}
